<!DOCTYPE html>
<html>
    <head>
        <title>{{ HTML_TITLE }}</title>
        <meta name="description" content="{{ HTML_DESCRIPTION }}">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" 
        href="/static/css/bulma-0.9.0.min.css">
        <script defer src="/static/js/fontawesome-5.3.1.js"></script>

        <meta name="og:type" property="og:type" content="blog">
        <meta name="og:title" property="og:title" content="{{ ARTICLE_TITLE }}">
        <meta name="og:description" property="og:description" content="{{ ARTICLE_DESCRIPTION }}">
        <meta name="og:image" property="og:image" content="{{ ARTICLE_IMAGE }}">

        <meta name="twitter:card" property="twitter:card" content="app">
    </head>

    <body>
        Hello worldxxx
        con cacdcmdcmwtf
        hxx con cax hehe wtfxx
    </body>
</html>